@import "./partials/utils/normalize";
@import "./partials/utils/variables";
@import "./partials/utils/mixin";
@import "./partials/components/button";
@import "./partials/layout/header";
@import "./partials/layout/location";
@import "./partials/layout/discovery";
@import "./partials/layout/fonctionary";
@import "./partials/layout/restaurants";
@import "./partials/layout/footer";

body {
  font-family: $font-text;
}
.container {
  width: 100%;
  @include flex-column(null, center);
}
main {
  width: 100%;
}
