@import "./partials/normalize";
@import "./partials/variables";
@import "./partials/mixin";
@import "./partials/header";
@import "./partials/location";
@import "./partials/discovery";
@import "./partials/button";

body {
  font-family: $font-text;
}
.container {
  width: 100%;
  @include flex-column(null, center);
}
main {
  width: 100%;
}
