html,
body,
div,
span,
h1,
h2,
h3,
h4,
p,
a,
address,
em,
img,
strong,
b,
u,
i,
ol,
ul,
li,
form,
label,
article,
aside,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
i,
input {
  display: block;
}

body {
  line-height: 1;
  box-sizing: border-box;
  width: 100%;
}

a {
  text-decoration: none;
  color: #000000;
}

ol,
ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.omf-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-bottom: 2.5em;
}
.omf-btn-link {
  width: 100%;
  font-size: 1rem;
  text-align: center;
  padding: 1em 1.4em;
  color: white;
  border-radius: 50px;
  background: linear-gradient(to left top, #9356dc, #ff79da);
  box-shadow: 0px 5px 5px rgba(118, 118, 118, 0.3);
}
@media screen and (min-width: 768px) {
  .omf-btn-link {
    font-size: 1.3rem;
  }
}
.omf-btn-link:hover {
  box-shadow: 0px 5px 5px rgba(118, 118, 118, 0.6);
  background: linear-gradient(to left top, #a16be0, #ff93e1);
}

.favorites {
  position: relative;
}
.favorites-heart {
  font-size: 1.7rem;
  padding-right: 3%;
  position: absolute;
  top: 0px;
  right: 15px;
}
.favorites-heart_filled {
  opacity: 0;
  background: linear-gradient(to left top, #9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.favorites-heart_filled:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: 0.5s;
}

.section-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 900;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  z-index: 10;
  animation: loader 2.5s ease-in-out both;
}
@media screen and (min-width: 768px) {
  .section-loader {
    font-size: 2rem;
  }
}

.loader {
  width: 100px;
  height: 100px;
  vertical-align: middle;
  margin: 0 1.5em 0.5em;
  position: relative;
}
.loader-cercles {
  border-top: 6px double #9356dc;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}
.loader-cercles:after {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  border-radius: 50px;
  border-top: 6px double #ff79da;
  animation: spin 3s linear infinite;
}
.loader-cercles::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  border-radius: 50px;
  border-top: 6px double #99e2d0;
  animation: spin 5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    opacity: 0;
    z-index: 10;
    filter: blur(0px);
  }
  8% {
    filter: blur(1px);
  }
  10% {
    opacity: 1;
    filter: blur(0px);
  }
  70% {
    opacity: 1;
  }
  95% {
    z-index: 10;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

.header {
  position: relative;
}
.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}
.header-logo-img {
  height: 30px;
}
@media screen and (min-width: 768px) {
  .header-logo-img {
    height: 40px;
  }
}
.header-arrow {
  position: absolute;
  top: 0em;
  left: 1.5em;
}
@media screen and (min-width: 768px) {
  .header-arrow {
    left: 4.5em;
  }
}
@media screen and (min-width: 1024px) {
  .header-arrow {
    left: 13.5em;
  }
}
.header-arrow i {
  font-size: 1.6rem;
}
@media screen and (min-width: 768px) {
  .header-arrow i {
    font-size: 2rem;
  }
}

.location-insert {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3em;
  background-color: #eaeaea;
  box-shadow: inset 0em 0.15em 0.15em rgba(0, 0, 0, 0.132);
}
.location-insert-form {
  display: flex;
  flex-direction: row;
  max-width: 240px;
  margin: 1em 0;
}
.location-insert-btn, .location-insert-input {
  border: none;
  background-color: #eaeaea;
  font-size: 1.1rem;
  font-weight: 700;
  padding-right: 1em;
}
.location-insert-input {
  width: 100%;
  color: #353535;
}
.location-insert-input::placeholder {
  color: #353535;
}

.discovery {
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: #f6f6f6;
}
.discovery-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 120px;
  text-align: center;
  margin: 1em 2em;
}
.discovery-text-title {
  font-size: 1.6rem;
  font-weight: 900;
}
@media screen and (min-width: 768px) {
  .discovery-text-title {
    font-size: 2rem;
  }
}
.discovery-text-subtitle {
  font-size: 1rem;
  font-weight: 400;
  color: #575757;
}
@media screen and (min-width: 768px) {
  .discovery-text-subtitle {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 768px) {
  .discovery-text {
    height: 90px;
  }
}

.fonctionary {
  display: flex;
  flex-direction: column;
  margin: 2.5em 1em;
}
.fonctionary-title {
  font-size: 1.6rem;
  font-weight: 900;
  padding-bottom: 1em;
}
@media screen and (min-width: 768px) {
  .fonctionary-title {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .fonctionary {
    margin: 4em;
  }
}
.fonctionary-cards {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-left: 1em;
}
@media screen and (min-width: 768px) {
  .fonctionary-cards {
    margin: 1em 0;
  }
}
@media screen and (min-width: 1024px) {
  .fonctionary-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.fonctionary-card-link {
  display: flex;
  flex-direction: row;
  background-color: #f6f6f6;
  box-shadow: 0px 5px 5px rgba(118, 118, 118, 0.2);
  border-radius: 15px;
  align-items: center;
  position: relative;
}
.fonctionary-card-link:hover {
  background-color: #f2eafb;
}
.fonctionary-card-link:hover i {
  color: #9356dc;
}
.fonctionary-card-nbr {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  border-radius: 50px;
  color: white;
  position: absolute;
  left: -15px;
  width: 25px;
  height: 25px;
}
.fonctionary-card-text {
  display: flex;
  flex-direction: row;
  padding: 1.7em 2em;
  white-space: nowrap;
}
@media screen and (min-width: 1024px) {
  .fonctionary-card-text {
    padding: 1.5em;
  }
}
.fonctionary-card-text i {
  font-size: 1.3rem;
  padding-right: 1.5em;
  color: #818181;
}
@media screen and (min-width: 1024px) {
  .fonctionary-card-text i {
    padding-right: 1em;
  }
}
.fonctionary-card-text p {
  font-size: 1.1rem;
  font-weight: 600;
}

.restaurants {
  display: flex;
  flex-direction: column;
  padding: 2em 1em;
  background-color: #f6f6f6;
}
@media screen and (min-width: 768px) {
  .restaurants {
    padding: 4em;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants {
    height: 700px;
  }
}
.restaurants-title {
  font-size: 1.6rem;
  font-weight: 900;
  padding-bottom: 1em;
}
@media screen and (min-width: 768px) {
  .restaurants-title {
    font-size: 2rem;
  }
}
.restaurants-bloc {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding-bottom: 2em;
}
@media screen and (min-width: 1024px) {
  .restaurants-bloc {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3em;
  }
}

.restaurant-card {
  position: relative;
}
@media screen and (min-width: 1024px) {
  .restaurant-card {
    width: 47%;
  }
}
.restaurant-card-new {
  position: absolute;
  top: 25px;
  right: 30px;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5em 1em;
  color: #2da185;
  background-color: #99e2d0;
}
.restaurant-card-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 255px;
  border-radius: 20px;
  box-shadow: 0px 5px 5px rgba(118, 118, 118, 0.2);
  background-color: #fff;
}
.restaurant-card-picture img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.restaurant-card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}
.restaurant-card-title-text {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.restaurant-card-title h3 {
  font-size: 1.3rem;
  font-weight: 900;
}
.restaurant-card-title p {
  font-size: 1.1rem;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 2em 1.5em;
  background-color: #353535;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 2.5em 4.5em;
  }
}
.footer h3 {
  font-family: "Shrikhand", cursive;
  color: #fff;
  font-size: 1.2rem;
}
.footer-items {
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
}
@media screen and (min-width: 768px) {
  .footer-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.footer-items-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 0.7em;
  color: #fff;
}
.footer-items-link i {
  font-size: 0.9rem;
  flex: 0.1;
}
.footer-items-link p {
  flex: 1;
}
@media screen and (min-width: 768px) {
  .footer-items-link {
    width: 50%;
  }
  .footer-items-link:first-child {
    order: -1;
  }
  .footer-items-link:nth-child(2) {
    order: 4;
  }
  .footer-items-link:last-child {
    order: 6;
  }
}

.picture {
  width: 100%;
  height: 260px;
}
@media screen and (min-width: 1024px) {
  .picture {
    height: 400px;
  }
}
.picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  width: 100%;
  margin-top: -40px;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
}
.card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 2.5em;
}
@media screen and (min-width: 768px) {
  .card-title {
    padding-left: 2.6em;
    margin-top: 3.5em;
  }
}
@media screen and (min-width: 1024px) {
  .card-title {
    padding-left: 11.6em;
  }
}
.card-title h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.7rem;
  padding: 0 0.8em;
}
@media screen and (min-width: 768px) {
  .card-title h1 {
    font-size: 2rem;
    margin-right: 4em;
  }
}
.card-title .favorites {
  margin-right: 1.5em;
}
@media screen and (min-width: 768px) {
  .card-title .favorites {
    margin-right: 7em;
  }
}
@media screen and (min-width: 1024px) {
  .card-title .favorites {
    margin-right: 26em;
  }
}
.card-menu {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}
@media screen and (min-width: 768px) {
  .card-menu {
    padding: 0 3em;
  }
}
@media screen and (min-width: 1024px) {
  .card-menu {
    padding: 0 12em;
    margin: 2em 0;
  }
}
.card-btn {
  width: 50%;
  margin-bottom: 4em;
}
@media screen and (min-width: 1024px) {
  .card-btn {
    width: 20%;
  }
}

.menu-items {
  display: flex;
  flex-direction: column;
}
.menu-items-title {
  text-transform: uppercase;
  padding: 0 1.1em 0.5em;
  font-size: 1rem;
  font-weight: 400;
  animation: slideUp 2s ease-in-out;
}
@media screen and (min-width: 768px) {
  .menu-items-title {
    font-size: 1.2rem;
  }
}
.menu-items-title::after {
  display: block;
  content: "";
  border-bottom: 3px solid #99e2d0;
  width: 40px;
  padding-top: 5px;
}
.menu-items-choice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  margin: 0.5em 0.8em;
  background-color: #fff;
  box-shadow: 0px 5px 5px rgba(118, 118, 118, 0.2);
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  animation: slideUp 2.5s ease-in-out;
}
.menu-items-choice--text {
  width: 245px;
  padding: 0 0.7em;
}
.menu-items-choice--text h3 {
  font-size: 1.1rem;
  font-weight: 700;
  padding-bottom: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 768px) {
  .menu-items-choice--text h3 {
    overflow: visible;
  }
}
.menu-items-choice--text p {
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 768px) {
  .menu-items-choice--text p {
    overflow: visible;
  }
}
.menu-items-choice--price {
  margin: 0 1.5em;
  font-weight: 700;
  align-self: flex-end;
  padding-bottom: 10px;
  transition: all 0.4s ease-in-out;
}
@media screen and (min-width: 1024px) {
  .menu-items-choice--price {
    margin-right: 2.5em;
  }
}
.menu-items-choice--check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 100%;
  position: absolute;
  right: -60px;
  color: #fff;
  font-size: 1.3rem;
  background-color: #99e2d0;
  border-radius: 0 15px 15px 0;
  transition: all 0.4s ease-in-out;
}
@media screen and (min-width: 768px) {
  .menu-items-choice--check {
    width: 120px;
    right: -120px;
  }
}
.menu-items-choice:hover .menu-items-choice--text {
  width: 200px;
}
.menu-items-choice:hover .menu-items-choice--price {
  transform: translateX(-60px);
}
@media screen and (min-width: 768px) {
  .menu-items-choice:hover .menu-items-choice--price {
    transform: translateX(-180px);
  }
}
.menu-items-choice:hover .menu-items-choice--check {
  transform: translateX(-60px);
}
@media screen and (min-width: 768px) {
  .menu-items-choice:hover .menu-items-choice--check {
    transform: translateX(-120px);
  }
}
@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

body {
  font-family: "Roboto", "sans empattement";
}

#container,
#main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=styles.css.map */
