.discovery {
  @include flex-column;
  width: 100%;
  padding: 1em 0;
  background-color: $light-grey;

  &-text {
    @include flex-column;
    justify-content: space-evenly;
    height: 120px;
    text-align: center;
    margin: 1em 2.1em;

    &-title {
      @include title;
    }
    &-subtitle {
      @include subtitle;
      color: #575757;
    }

    // tablette
    @include break-point(tablet) {
      height: 90px;
    }
  }
}
