.fonctionary {
  @include flex-column;
  margin: 3em 0;
  &-title {
    @include title;
  }
  // responsive
  @include break-point(tablet) {
    align-items: center;
  }
  @include break-point(desktop) {
    height: 200px;
    margin-top: 50px;
  }

  &-cards {
    @include flex-column;
    gap: 1.5em;
    margin: 2em 1em 1em 2.1em;

    @include break-point(desktop) {
      @include flex-row;
      justify-content: space-between;
      align-items: center;
      width: 88%;
      height: 150px;
      margin: auto;

      gap: 40px;
    }
  }
}

.fonctionary-card {
  &-link {
    background-color: $light-grey;
    box-shadow: $shadow;
    border-radius: 15px;
    @include flex-row;
    align-items: center;
    position: relative;
    &:hover {
      background-color: lighten($color-primary, 35);
    }
    @include break-point(tablet) {
      width: 45%;
    }
  }
  &-nbr {
    @include flex-center;
    background-color: $color-primary;
    border-radius: 50px;
    color: white;
    // Position
    position: absolute;
    left: -15px;
    width: 25px;
    height: 25px;
  }
  &-text {
    @include flex-row;
    padding: 1.3em 0.5em;
    white-space: nowrap;
    & i {
      font-size: 1.2rem;
      padding: 0 1.5em;
      color: #818181;
    }
    & p {
      font-size: 1.1rem;
      font-weight: 600;
    }
  }
}
