.header {
  position: relative;
  &-logo {
    @include flex-center;
    margin: 1em;

    // Logo omf
    &-img {
      height: 30px;
      // Responsive
      @include break-point(tablet) {
        height: 40px;
      }
    }
    // fleche retour pages
  }
  &-arrow {
    position: absolute;
    top: 0em;
    left: 1.5em;
    // Responsive
    @include break-point(tablet) {
      left: 4.5em;
    }
    @include break-point(desktop) {
      left: 13.5em;
    }
    & i {
      font-size: 1.6rem;
      // Responsive
      @include break-point(tablet) {
        font-size: 2rem;
      }
    }
  }
}
