.picture {
  width: 100%;
  height: 260px;
  // responsive
  @include break-point(desktop) {
    height: 400px;
  }
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.card {
  @include flex-column;
  gap: 2em;
  width: 100%;
  max-height: max-content;
  margin-top: -40px;
  background-color: $light-grey;
  border-radius: 40px 40px 0 0;

  &-title {
    @include flex-row;
    justify-content: space-between;
    width: 100%;
    margin-top: 2.5em;

    // responsive
    @include break-point(tablet) {
      padding-left: 2.6em;
      margin-top: 3.5em;
    }
    @include break-point(desktop) {
      padding-left: 11.6em;
    }

    & h1 {
      @include pages-title;
    }
    & .favorites {
      margin-right: 1.5em;
      // responsive
      @include break-point(tablet) {
        margin-right: 7em;
      }
      @include break-point(desktop) {
        margin-right: 26em;
      }
    }
  }
  &-menu {
    @include flex-column;
    justify-content: space-between;
    gap: 2em;

    // responsive
    @include break-point(tablet) {
      padding: 0 3em;
    }
    @include break-point(desktop) {
      padding: 0 12em;
      margin: 2em 0;
    }
  }
  &-btn {
    width: 45%;
    height: 80px;
  }
}

// Items Restaurant
.menu-items {
  @include flex-column;

  &-title {
    text-transform: uppercase;
    padding: 0 1.1em 0.5em;
    @include subtitle;
    animation: slideUp 2s ease-in-out;
    &::after {
      display: block;
      content: "";
      border-bottom: 3px solid $color-tertiary;
      width: 40px;
      padding-top: 5px;
    }
  }
  // Carte Choix
  &-choice {
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    margin: 0.5em 0.8em;
    background-color: #fff;
    box-shadow: $shadow;
    border-radius: 15px;
    // Position initial
    position: relative;
    overflow: hidden;
    animation: slideUp 2.5s ease-in-out;

    &--text {
      width: 245px;
      padding: 0 0.7em;
      white-space: nowrap;

      & h3 {
        font-size: 1.1rem;
        font-weight: 700;
        padding-bottom: 0.5em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // responsive
        @include break-point(tablet) {
          overflow: visible;
        }
      }
      & p {
        font-size: 0.9rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // responsive
        @include break-point(tablet) {
          overflow: visible;
        }
      }
    }
    &--price {
      margin: 0 1.5em;
      font-weight: 700;
      align-self: flex-end;
      padding-bottom: 10px;
      // responsive
      @include break-point(desktop) {
        margin-right: 2.5em;
      }
      transition: all 0.4s ease-in-out;
    }
    &--check {
      @include flex-center;
      width: 60px;
      height: 100%;
      position: absolute;
      right: -60px;
      color: #fff;
      font-size: 1.3rem;
      background-color: $color-tertiary;
      border-radius: 0 15px 15px 0;
      // responsive
      @include break-point(tablet) {
        width: 120px;
        right: -120px;
      }

      transition: all 0.4s ease-in-out;
    }
    &:hover &--text {
      width: 200px;
    }
    &:hover &--price {
      transform: translateX(-60px);
      // responsive
      @include break-point(tablet) {
        transform: translateX(-180px);
      }
    }
    &:hover &--check {
      transform: translateX(-60px);
      // responsive
      @include break-point(tablet) {
        transform: translateX(-120px);
      }
    }
  }

  // Keyframes Animation
  @keyframes slideUp {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
