.restaurants {
  @include flex-column(center, flex-start);
  width: 100%;
  padding: 2em;
  background-color: $light-grey;
  // responsive
  @include break-point(desktop) {
    height: 700px;
    padding-top: 3em;
  }
  &-title {
    @include title;
    padding: 1em;
  }
  &-bloc {
    @include flex-column(null, null);
    width: 100%;
    gap: 0.5em;
    // responsive
    @include break-point(desktop) {
      height: 550px;
      width: 90%;
      margin: auto;
      @include flex-row(null, null);

      flex-wrap: wrap;
      row-gap: 40px;
    }
  }
}
.restaurant-card {
  padding: 0.5em 1.1em;
  position: relative;
  // responsive
  @include break-point(desktop) {
    width: 47%;
  }
  &-new {
    position: absolute;
    top: 25px;
    right: 30px;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5em 1em;
    color: $color-tertiary-text;
    background-color: $color-tertiary;
  }
  &-link {
    @include flex-column(space-between, null);
    height: 255px;
    border-radius: 20px;
    box-shadow: $shadow;
    background-color: #fff;
    // @include break-point(desktop) {
    //   @include flex-row(space-between, center);
  }

  &-picture {
    & img {
      width: 100%;
      height: 175px;
      object-fit: cover;
      border-radius: 10px 10px 0 0;
    }
  }

  &-title {
    @include flex-row(space-between, null);
    padding: 1em;
    &-text {
      @include flex-column(null, null);
      gap: 0.5em;
    }
    & h3 {
      font-size: 1.3rem;
      font-weight: 900;
    }
    & p {
      font-size: 1.1rem;
    }
  }
}
