//Polices
$font-title: "Shrikhand", cursive;
$font-text: "Roboto", sans empattement;

//Colors
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$grey: #eaeaea;
$light-grey: #f6f6f6;
$dark-grey: #353535;

$degraded: linear-gradient(to left top, $color-primary, $color-secondary);
$light-degraded: linear-gradient(
  to left top,
  lighten($color-primary, 5),
  lighten($color-secondary, 5)
);
